* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: goldenrod;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: darkslategrey;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
  color: white;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: darkslategrey;
}

#hero {
  margin-bottom: 30px;
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/luxury-background-modern-design-abstract-green-dark_343694-2186.avif");
  background-size: cover;
}

#profile-image {
}

.section-1 {
  height: 300px;
}

.about-me-1 {
  display: flex;
  align-items: center;
}

.about-me-header {
  border-right: 2px solid goldenrod;
  height: 200px;
  min-width: 200px;
  padding-right: 30px;
  padding-left: 100px;
  font-size: 35px;
  color: darkslategrey;
}

.about-me-content p {
  color: darkslategrey;
  font-size: x-large;
  margin: 60px;
}

.section-2 {
  margin-top: 30px;
}

.work-2 {
  display: flex;
  align-items: center;
}
.work-header {
  border-right: 2px solid goldenrod;
  height: 200px;
  min-width: 200px;
  padding-right: 30px;
  padding-left: 100px;
  font-size: 35px;
  color: darkslategrey;
}

.work-content {
  display: flex;
  justify-content: space-around;
  gap: 35px;
  margin: 60px;
}

.project-1 img {
  background-image: url("../images/Screenshot\ 2025-04-03\ at\ 11.19.06\ AM.png");
  background-size: cover;
  height: 250px;
  width: 450px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 40px;
  border: 2px solid goldenrod;
}

.project-2 img {
  background-image: url("../images/Screenshot\ 2025-04-03\ at\ 11.21.11\ AM.png");
  height: 250px;
  width: 450px;
  background-size: cover;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 40px;
  border: 2px solid #2a607c;
}
